@color-blue: #082841;
@color-white: #ffffff;
@color-black: #000000;
@color-orange: #DD3E18;
@color-orange-lite: rgb(255, 94, 0);
@color-gray: rgb(195, 211, 211);

@header-font1: "Helvetica-Bold",  sans-serif;
@header-font2: "Georgia",  sans-serif;

@gradient: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);

@media (min-width: 1440px) {
  header {
    width:100%;
    margin:0 auto;
    height: 672px;
    background-color: @color-white;
  }

  .wraper {
    height: 672px;
    min-width: 1440px;
    margin: 0 auto;
    background-color: @color-blue;
    color: @color-white;
    font-family: @header-font1;

    .logo {
      background: url(../images/logo.jpg) no-repeat;
      height: 672px;
      width: 552px;
      float: left;
    }

    .information {
      float: right;
      margin-left: 96px;

      .position {
        margin-top: 65px;
        width: 288px;
        height: 29px;
        font-size: 24px;}

      .name {
        margin-top: 105px;
        width: 402px;
        height: 48px;
        font-size: 40px;}

      .skils {
        margin-top: 234px;
        width: 544px;
        height: 196px;
        font-size: 20px;
        font-family: @header-font2;}
    }
  }
}

@media  (min-width: 1024px) and (max-width: 1439px) {
                                        /*HEADER*/
  header {
    width:100%;
    height: 768px;
    min-width: 1024px;
    margin:0 auto;
    background-color: @color-blue;
    color: @color-white;
  }

  .logo {
    background: url(../images/logo_loptop.jpg) no-repeat;
    height: 768px;
    width: 504px;
    margin-left: -80px;
    float: left;
  }

  .information {
    width: 600px;
    height: 384px;
    float: left;
    font-family: @header-font1;

    h3 {
      width: 288px;
      height: 29px;
      font-size: 24px;
      line-height: 29px;
      padding: 65px 0 0 95px;
    }

    h1 {
      width: 564px;
      height: 48px;
      font-size: 40px;
      line-height: 48px;
      padding: 11px 0 0 95px;
    }

    p {
      width: 464px;
      height: 252px;
      padding: 266px 0 0 95px;
      font-size: 20px;
      line-height: 28px;
      font-family: @header-font2;
    }
  }
                                        /*MAIN*/
  main {
    margin: 0 auto;
    h1 {
      width: 571px;
      height: 48px;
      margin-top: 106px;
      margin-left: 2%;
      font-size: 40px;
      font-family: @header-font1;
    }

    .expect {
      width: 96%;
      min-width: 944px;
      height: 448px;
      margin-top: 38px;
      margin-right: 2%;
      margin-bottom: 23px;
      margin-left: 2%;
      border-radius: 4px;
    }

    .expireans {
      height: 215px;
      width: 59%;
      min-width: 554px;
      background-image: @gradient;
      margin: 0 0px 0px 0;
      float: left;
    }

    .expireans>p {
      height: 80px;
      width: 432px;
      padding: 32px 0px 0px 32px;
      font-family: @header-font2;
      font-size: 16px;
      color: @color-black;
      line-height: 24px;
    }

    .comunication {
      height: 215px;
      width: 39%;
      min-width: 382px;
      background-image: @gradient;
      float: right;
    }

    .comunication>p {
      height: 80px;
      width: 304px;
      padding: 32px 0 0 32px;
      font-family: @header-font2;
      font-size: 16px;
      color: @color-black;
      line-height: 24px;
    }

    .knolige {
      height: 215px;
      width: 39%;
      min-width: 382px;
      background-image: @gradient;
      margin: 18px 0px 0px 0px;
      float: left;
    }

    .knolige>p {
      height: 80px;
      width: 232px;
      padding: 32px 0 0 32px;
      font-family: @header-font2;
      font-size: 16px;
      color: @color-black;
      line-height: 24px;
    }

    .job {
      height: 215px;
      width: 59%;
      min-width: 554px;
      background-image: @gradient;
      margin: 18px 0 0 0;
      float: right;
    }

    .job>p {
      height: 64px;
      width: 400px;
      padding: 32px 0 0 32px;
      font-family: @header-font2;
      font-size: 16px;
      color: @color-black;
      line-height: 24px;
    }

    .expireans>h2, .comunication>h2, .knolige>h2, .job>h2 {
      font-family: @header-font1;
      font-size: 24px;
      color: @color-black;
      padding: 32px 0 0 32px;
    }
                                          /* GAME */
    .my-game {
      width: 96%;
      min-width: 944px;
      height: 384px;
      margin-top: 63px;
      margin-right: 2%;
      margin-bottom: 80px;
      margin-left: 2%;
    }

    .scrinshot {
      background: url(../images/game_loptop.jpg) no-repeat;
      height: 384px;
      width: 640px;
      padding: 0 0 0 40px;
      float: left;
    }

    .discription {
      width: 224px;
      height: 384px;
      padding: 0 40px 0 0;
      float: right;
      font-family: @header-font1;
    }

    .discription>h3 {
      width: 304px;
      height: 29px;
      font-family: @header-font1;
      font-size: 24px;
      color: @color-black;
    }

    .discription>a {
      text-decoration: none;
    }

    .discription>a:hover {
      color: @color-orange;
    }

    .discription>p {
      padding-top: 150px;
    }
                                       /* SITE */
    .my-site {
      width: 96%;
      min-width: 944px;
      height: 384px;
      margin-top: 63px;
      margin-right: 2%;
      margin-bottom: 80px;
      margin-left: 2%;
    }

    .scrinshot-site {
      background: url(../images/site_loptop.jpg) no-repeat;
      height: 384px;
      width: 544px;
      padding: 0 0 0 40px;
      float: right;
    }

    .discription-site {
      width: 320px;
      height: 384px;
      padding: 0 40px 0 0;
      float: left;
      font-family: @header-font1;
    }

    .discription-site>h3 {
      width: 304px;
      height: 29px;
      font-family: @header-font1;
      font-size: 24px;
      color: @color-black;
    }

    .discription-site>a {
      text-decoration: none;
    }

    .discription-site>a:hover {
      color: @color-orange;
    }

    .discription-site>p {
      padding-top: 180px;
    }
                                      /*REACT APP*/
    .my-react-app {
      width: 96%;
      min-width: 944px;
      height: 384px;
      margin-top: 63px;
      margin-right: 2%;
      margin-bottom: 80px;
      margin-left: 2%;
    }

    .scrinshot-app {
      background: url(../images/app_loptop.jpg) no-repeat;
      height: 384px;
      width: 640px;
      padding: 0 0 0 40px;
      float: left;
    }

    .discription-app {
      width: 224px;
      height: 384px;
      padding: 0 40px 0 0;
      float: right;
      font-family: @header-font1;
    }

    .discription-app>h3 {
      width: 304px;
      height: 29px;
      font-family: @header-font1;
      font-size: 24px;
      color: @color-black;
    }

    .discription-app>a {
      text-decoration: none;
    }

    .discription-app>a:hover {
      color: @color-orange;
    }

    .discription-app>p {
      padding-top: 180px;
    }
  }
                                        /*FOOTER*/
  footer {
    .contacts {
      width: 43%;
      min-width: 429px;
      height: 715px;
      margin: 63px 0px 0px 0px;
      float: left;
      background-image: @gradient;
    }

    .contacts>h1 {
      width: 503px;
      height: 48px;
      padding: 81px 0px 0px 39px;
      font-size: 40px;
      font-family: @header-font1;
      position: absolute;
    }

    p {
      width: 304px;
      height: 203px;
      margin-top: 140px;
      padding: 61px 0px 0px 39px;
      font-size: 16px;
      font-family: @header-font2;
      line-height: 24px;
    }

    h4 {
      width: 304px;
      height: 203px;
      padding-left: 39px;
      margin-top: -70px;
      font-size: 16px;
      font-family: @header-font2;
      line-height: 24px;
    }

    .social {
      height: 147px;
      width: 100px;
      padding: 0px 0px 0px 40px;
      margin: -190px 0px 0px 0px;
      color: @color-gray;
    }

    .social>li>a {
      color: @color-orange;
      text-decoration: none;
      font-family: @header-font2;
      font-size: 16px;
      line-height: 32px;
      padding: 10px 12px;
    }

    .social>li>a:hover {
      color: @color-orange-lite;
    }

    .social>li>a:focus {
      color: @color-blue;
    }

    .forms {
      width: 57%;
      min-width: 574px;
      height: 524px;
      float: right;
      margin: 63px 0px 0px 0px;
      padding: 192px 0px 0px 0px;
      background-image: @gradient;
    }

    input[type=text], select {
      width: 90%;
      min-width: 524px;
      height: 48px;
      padding: 0 20px;
      margin: 12px 0px;
      background: @color-white;
      border: 1px solid @color-white;
      border-radius: 4px;
    }

    input[name="later"], select {
      width: 90%;
      min-width: 524px;
      height: 192px;
      padding: 0 20px;
      margin: 12px 0;
      background: @color-white;
      border: 1px solid @color-white;
      border-radius: 4px;
    }

    input[type=text]:hover {
      border: 1px solid @color-black;
    }

    input[type=file] {
      width: 0.1px;
    	height: 0.1px;
	    opacity: 0;
	    overflow: hidden;
	    position: absolute;
      z-index: -1;
    }

    .fa-sticky-note {
      cursor: pointer;
      color: @color-orange;
    }

    .fa-sticky-note:hover {
      color: @color-orange-lite;
    }

    .fa-sticky-note>span {
      margin: 0px 0px 0px 10px;
    }

    input[type=submit] {
      width: 95%;
      min-width: 544px;
      height: 49px;
      background-color: @color-orange;
      color: @color-white;
      font-family: @header-font1;
      line-height: 24px;
      font-size: 16px;
      padding: 14px 20px;
      margin: 32px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: @color-orange-lite;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {}

@media (min-width: 336px) and (max-width: 767px) {}
