@color-blue: #082841;
@color-gray: rgb( 71, 71, 71 );

@header-font1: "Open Sans",  sans-serif;
@header-font2: "Museo Sans Cyrl",  sans-serif;



header {
  height: 672px;
  background-color: @color-blue;
  font-family: @header-font1, @header-font2; }

p {
  font-size: 30px; }
