@color-header: #082841;
@color-button: #DD3E18;
@color-button-hover: rgb(255, 94, 0);
@gradient: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
.font-face(Helvetica){
  @font-face{
    font-family: Helvetica-Bold;
    src:url('../fonts/helvetica-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
}
.font-face(Georgia){
  @font-face{
    font-family: Georgia;
    src:url('../fonts/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}
@fontBold: "Helvetica", serif;
@fontRegular: "Georgia", serif;

body {
  margin: 0;
                                          /*HEADER*/
  header {
    background-color: @color-header;
    color: white;
    margin: 0 auto;
    .information {
      font-family: @fontBold;
      p {
        font-family: @fontRegular;
        text-align: justify;
      }
    }
    .mobile {
      display: none;
      font-family: @fontRegular;
      text-align: justify;
    }
  }
                                          /* MANE */
  main {
    h1 {
      height: 48px;
      font-size: 40px;
      text-align: center;
      font-family: @fontBold;
    }
    input[type='radio'] {
      width: 0.1px;
    	height: 0.1px;
	    opacity: 0;
	    overflow: hidden;
	    position: absolute;
      z-index: -1;
      color: white;
      border-color: white;
    }
    .slider {
      height: 450px;
      margin: 38px 2% 23px;
      border-radius: 4px;
      .slide1 {
        background-image: @gradient;
        height: 215px;
        width: 59%;
        margin: 0;
        float: left;
      }
      .slide2 {
        background-image: @gradient;
        height: 215px;
        width: 39%;
        float: right;
      }
      .slide3 {
        background-image: @gradient;
        height: 215px;
        width: 39%;
        margin: 18px 0 0;
        float: left;
      }
      .slide4 {
        background-image: @gradient;
        height: 215px;
        width: 59%;
        margin: 18px 0 0;
        float: right;
      }
      .slide1>p, .slide2>p, .slide3>p, .slide4>p {
        padding: 32px 5% 0 32px;
        font-family: @fontRegular;
        line-height: 24px;
      }
      .slide1>h2, .slide2>h2, .slide3>h2, .slide4>h2 {
        font-family: @fontBold;
        padding: 32px 0 0 32px;
      }
    }
    .my-works {
      margin: 0 2%;
      figure {
        background: url(../images/game_laptop.jpg) no-repeat;
        height: 384px;
        width: 570px;
        padding: 0;
        margin: 0;
        float: left;
      }
      .screenshot-site {
        background: url(../images/site_laptop.jpg) right no-repeat;
        float: right;
      }
      .screenshot-app {background: url(../images/app_laptop.jpg) no-repeat;}
    }
    article {
      height: 384px;
      padding: 0 5%;
      text-align: center;
      font-family: @fontBold;
      h3 {font-size: 24px;}
      a {text-decoration: none;}
      a:hover {color: @color-button;}
      p {
        opacity: 0.8;
        font-family: @fontRegular;
        line-height: 24px;
        text-align: justify;
      }
    }
  }
                                        /*FOOTER*/
  footer {
    background-image: @gradient;
    .contacts
      h1 {font-family: @fontBold;}
      p, h4 {
        font-family: @fontRegular;
        line-height: 24px;
        text-align: justify;
      }
      ul {
        padding: 0;
        li {
          list-style-type: none;
          span {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            opacity: 0.1;
            background: #000;
            border-radius: 2px;
          }
          a {
            color: @color-button;
            text-decoration: none;
            font-family: @fontRegular;
            line-height: 32px;
            padding: 10px 12px;
          }
          a:hover {color: @color-button-hover;}
          a:focus {color: @color-header;}
        }
      }
    }
    form {
      input, textarea {
        width: 80%;
        height: 48px;
        padding: 0 5%;
        margin: 12px 0 12px 5%;
        background: white;
        border-radius: 4px;
        border: 1px solid white;
        border: 1px solid black;
      }
      textarea {
        height: 192px;
        padding: 7px 5%;
        font-size: 16px;
      }
      input[type=file] {
        width: 120px;
        height: 0;
        padding: 0;
        margin: 0;
	      opacity: 0;
	      overflow: hidden;
        z-index: -1;
        cursor: pointer;
      }
      label {
        margin-left: -120px;
        padding: 0 5%;
        color: @color-button;
      }
      label:hover {color: @color-button-hover;}
      input[type=submit] {
        width: 90%;
        background-color: @color-button;
        color: white;
        font-family: @fontBold;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      input[type=submit]:hover {background-color: @color-button-hover;}
  }
}
                          /*------------------------------------*\
                                      #DESKTOP
                          \*------------------------------------*/
@media (min-width: 1440px) {
                                      /*HEADER*/
  header {
    height: 672px;
    min-width: 1440px;
    .information {
      width:60%;
      min-width: 888px;
      float: right;
      h3 {
        width: 288px;
        font-size: 24px;
        line-height: 29px;
        padding: 65px 0 0 95px;
      }
      h1 {
        width: 564px;
        font-size: 40px;
        line-height: 48px;
        padding: 11px 0 0 95px;
      }
      p {
        width: 80%;
        min-width: 464px;
        padding: 30px 0 0 95px;
        font-size: 20px;
        line-height: 28px;
      }
    }
    .logo {
      background: url(../images/logo_desktop.jpg) no-repeat;
      height: 672px;
      width: 552px;
      margin: 0;
      float: left;
    }
  }
                                        /*MAIN*/
  main {
    .slider {margin: 38px 17% 23px !important;}
    .my-works {margin: 0 17% !important;}
  }
                                        /*FOOTER*/
  footer {
    display: flex;
    justify-content: center;
    width: 100%;
    .contacts {
      margin-left: 40px;
      float: left;
      h1 {
        width: 500px;
        font-size: 40px;
      }
      p, h4 {width: 320px;}
    }
    .forms {
      width: 60%;
      float: right;
      margin: 110px 0 0 -200px;
    }
  }
}
                          /*------------------------------------*\
                                        #LAPTOP
                          \*------------------------------------*/
@media  (min-width: 1024px) and (max-width: 1439px) {
                                        /*HEADER*/
  header {
    height: 768px;
    .information {
      width:50%;
      float: right;
      h3 {
        font-size: 24px;
        padding: 65px 0 0 25px;
      }
      h1 {
        font-size: 40px;
        padding: 11px 0 0 25px;
      }
      p {
        padding: 30px 25px 0;
        font-size: 20px;
        line-height: 28px;
      }
    }
    .logo {
      background: url(../images/logo_laptop.jpg) no-repeat;
      height: 768px;
      width: 50%;
      margin: 0;
      float: left;
    }
  }
                                        /*FOOTER*/
  footer {
    display: flex;
    .contacts {
      margin-left: 40px;
      float: left;
      h1 {
        width: 500px;
        font-size: 40px;
      }
      p, h4 {width: 320px;}
    }
    .forms {
      width: 60%;
      float: right;
      margin: 110px 0 0 -200px;
    }
  }
}
                          /*------------------------------------*\
                                        #TABLET
                          \*------------------------------------*/
@media (min-width: 768px) and (max-width: 1023px) {
                                        /*HEADER*/
  header {
    margin-top: -20px !important;
    .information {
      h3 {
        padding-top: 40px;
        display: flex;
        justify-content: center;
       }
      h1 {
        font-size: 40px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }
      p {display: none;}
    }
    .logo {
      background: url(../images/logo_tablet.jpg) no-repeat;
      height: 384px;
      width: 384px;
      margin: 0 auto;
      border-radius: 192px;
    }
    .mobile {
      display: block !important;
      margin: 20px 10%;
      padding: 10px 0;
      line-height: 24px;
    }
  }
                                        /*MAIN*/
  main {
    .slider {
      p {padding-top: 0 !important;}
    }
    .my-works {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
      align-content: space-around;
      figure {
        background: url(../images/game_tablet.jpg) no-repeat !important;
        height: 496px !important;
        width: 704px !important;
      }
      .screenshot-site {
        background: url(../images/site_tablet.jpg) no-repeat !important;
      }
      .screenshot-app {
        background: url(../images/app_tablet.jpg) no-repeat !important;
      }
      article {height: 100% !important;}
    }
  }
                                            /*FOOTER*/
  footer {
    .contacts {
      margin: 0 5%;
      h1 {
        padding-top: 40px;
        font-size: 40px;
      }
      p {width: 50%;}
      h4 {display: none;}
      ul {
        float: right;
        margin-top: -160px;
      }
    }
  }
}
                          /*------------------------------------*\
                                          #PHONE
                          \*------------------------------------*/
@media (min-width: 336px) and (max-width: 767px) {
                                          /*HEADER*/
  header {
    margin-top: -20px !important;
    .information {
      h3 {
        font-size: 16px;
        padding-top: 23px;
        display: flex;
        justify-content: center;
      }
      h1 {
        font-size: 25px;
        display: flex;
        justify-content: center;
      }
      p {display: none;}
    }
    .logo {
      background: url(../images/logo_phone.jpg) no-repeat;
      height: 144px;
      width: 144px;
      margin: 0 auto;
      border-radius: 72px;
    }
    .mobile {
      display: block !important;
      margin: 0 5%;
      line-height: 24px;
      padding: 10px 0;
    }
  }
  main {
    .slider {
      overflow: hidden !important;
      position: relative;
      width: 95% !important;
      margin: 0 2.5% !important;
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
      -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
      -o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
      box-shadow: 0 0 20px rgba(0, 0, 0, .5);
      .slides {
        margin-top: 0% !important;
        width: 100% !important;
        height: 100% !important;
        opacity: 0;
        position: absolute;
        z-index: 0;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
        -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
        -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
        transition: transform ease-in-out .5s, opacity ease-in-out .5s;
        h2 {
          text-align: center;
          padding: 50px 0 0 !important;
        }
      }
    }
    #slide1:checked ~ .slider > .slide1,
    #slide2:checked ~ .slider > .slide2,
    #slide3:checked ~ .slider > .slide3,
    #slide4:checked ~ .slider > .slide4 {
      background: @gradient;
      opacity: 1;
      z-index: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
    .controls {
      left: 50%;
      margin-left: -98px;
      position: absolute;
      label {
        cursor: pointer;
        display: inline-block;
        height: 8px;
        margin: 25px 12px 0 16px;
        position: relative;
        width: 8px;
        background: @color-button;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: background ease-in-out .5s;
        -moz-transition: background ease-in-out .5s;
        -o-transition: background ease-in-out .5s;
        transition: background ease-in-out .5s;
      }
      label:hover,
      #slide1:checked ~ .controls label:nth-of-type(1),
      #slide2:checked ~ .controls label:nth-of-type(2),
      #slide3:checked ~ .controls label:nth-of-type(3),
      #slide4:checked ~ .controls label:nth-of-type(4) {background: black;}
    }
    h1 {
      height: 100% !important;
      margin-top: 50px;
    }
    .my-works {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
      align-content: space-around;
      figure {
        background: url(../images/game_phone.jpg) no-repeat !important;
        height: 216px !important;
        width: 304px !important;
      }
      article {
        width: 304px !important;
        height: 100% !important;
      }
      .screenshot-site {background: url(../images/site_phone.jpg) no-repeat !important;}
      .screenshot-app {background: url(../images/app_phone.jpg) no-repeat !important;}
    }
  }
                                            /*FOOTER*/
  footer {
    margin-top: 20px;
    .contacts {
      margin: 20px 5% 0;
      h1 {padding-top: 20px;}
      h4 {display: none;}
    }
  }
}
